# Retrieve at https://api.UNIVERSITYUSOS/developers/
USOS_BASE_URL=https://api.UNIVERSITYUSOS
USOS_CONSUMER_KEY=
USOS_CONSUMER_SECRET=
USOS_SCOPES=studies|offline_access
USOS_LANG=pl

# Retrieve at https://console.cloud.google.com/apis/credentials
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

TIMEZONE=Europe/Warsaw
SYNC_CRON=0 */12 * * *